.menu-bar {
  background-color: $primary;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 30px;
    }

    .menu {
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      min-width: 70%;

      .menu-link {
        text-decoration: none;
        color: $secondary;
      }

      // message icon

      .message {
        width: 30px;
      }
    }
  }
}
