.row {
  background: darken($color: $secondary, $amount: 10);
  padding: 2em 8em;
  text-align: center;
  color: $primary;
  h2 {
    padding-bottom: 1em;
  }

  .todo-empty {
    padding: 1.5em;
    color: $emphasize;
  }
  div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1em 0;
    p {
      border-bottom: 2px solid $emphasize;
      width: 60vw;
    }
    span {
      display: block;
    }
  }

  form {
    padding-top: 2em;
    span {
      color: $emphasize;
      padding: 1em;
    }
    input {
      outline: none;
      border: none;
      border-bottom: 2px solid darken($color: $primary, $amount: 0);
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      background: transparent;
      width: 60%;
      text-align: center;
    }
  }
}
