* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}
@import "./Assest/Global/config";
@import "./Assest/Global/btn";
@import "./Assest/NavBar";
